.App {
  text-align: center;
}

nav{
  background-color: var(--tertiary-color);
  margin: 0.5rem 0rem;
  margin-top: 0px;
  padding: 0.5rem 0.5rem;
  top: 0;
  position: fixed;
  width: 100%;
  height: 4.48rem;
  z-index: 2;
  text-align: left;
  color: black;
  display: flex;
}

#logo{
  text-align: left;
  background-color: white;
  display: inline-block;
  margin: 1rem 0rem;
}

.logo{
  width: 11rem;
}

#nav-content{
  margin: float 1rem;
  padding: 0rem 3rem;
  display: inline-block;
}

#search-div{
  display: flex;
}

#search-bar{
  width: 10rem;
  border: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
  transition: width .7s;
  padding-left: 1rem;
}

#search-bar:focus{
  width: 30rem;
}

#search-bar:not(:placeholder-shown){
  width: 30rem;
}

#search-icon{
  background-color: white;
  border: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#nav-items-list{
  display: flex;
  list-style: none;
  color: white;
  margin: 8px 0px;
}

.nav-item{
  padding: 7px 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.nav-item:hover{
  background-color: var(--primary-color);
  cursor: pointer;
}

#nav-div{
  display: flex;
  flex-direction: row-reverse;
  width: 650px;
}

#profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#profile #username{
  margin: 3px;
  color: white;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(
    45deg,
    #ff8e36,
    #fff
  );
  border-radius: 3px;
}