
/*outermost div*/
.Nav{
        z-index: 20;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--primary-color-nav);
        display: flex;
    
}

#logo{
    background-color: transparent;
    width: 15rem;
    margin: 8px 4rem;
}

.nav-options{
    display: flex;
    align-items: center;
    margin: auto 1rem;
}

.option{
    
    font-size: larger;
    margin: auto 1rem;
    padding: 0px .5rem;
    transform: scale(0.85);
}

/* .search{
    transform: scale(0.9) translateY(1.5rem);
} */

/*hover effect for sign in btn */
.sign_in_btn:hover {
    border: 2px solid black;
    background-color: #FF8C00;
    transition: 0.2s ease-in-out;
  }

  
 /*for mobile view*/
  @media (max-width: 1100px){
      /*for kurakoo logo */
    

    }
 
  