/*div containing whole search bar */
.search_div {
    display: flex;
    width: 100%;
    position: relative;

}

/*div containing input box*/
.input_box {
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
}

/* styling input box and btn for search  */
.input_class,
.btn_class {
    color: #000;
    padding: 0;
    margin: 0;
    border: 0;
}

#cover {
    position: relative;
    left: 10px;
    width: 600px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 300px;
    transform: scale(0.6);
    background-color: white;
    overflow: hidden;
}

/*class name for search form tag */
.form_search {
    height: 65px;
}

/* input tag*/
.input_class[type="text"] {
    width: 500px;
    height: 65px;
    font-size: 30px;
    line-height: 1;
    outline: none;
}

/*input tag*/
.input_class[type="text"]::placeholder {
    color: grey;
}

/* btn in search button before click*/
#s-cover {
    width: 1px;
    padding-left: 35px;
}

/*btn for submit the search*/
.btn_class {
    position: absolute;
    display: block;
    width: 84px;
    height: 65px;
    cursor: pointer;
    background-color: transparent;
}

#s-circle {
    position: relative;
    top: -10px;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: 0;
    border-width: 15px;
    border: 8px solid var(--tertiary-color);
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

/*adjustment of search btn*/
.btn_class span {
    position: absolute;
    top: 40px;
    left: 42px;
    display: block;
    width: 30px;
    height: 15px;
    background-color: transparent;
    border-radius: 8px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

/*adjustment of search on some actions*/
.btn_class span:before,
.btn_class span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 12px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 45px;
    height: 15px;
    border-width: 0;
    background-color: var(--tertiary-color);
    border-radius: 20px;
}

#s-cover{
    transform: translateX(-1.1rem);
}

#s-cover:hover span {
    top: 50%;
    left: 50px;
    width: 14px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 35px;
    background-color: var(--tertiary-color);
}