/*Footer styles*/
.main-footer {
  color: white;
  background-color: #a480b9;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  
}
.list-unstyled{
  font-size: 16px;
}
.col{
  margin-left: 5%;
}