.signin_image{
    width: 100%;
    height: 100vh;
}
.mobile_logo_img{
    max-width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    max-width: 60%;
    margin-top: 30%;
    margin-left: 10%;
    
}

.app {
  background-color: #fff;
  width: 330px;
  height: 570px;
  margin: 2em auto;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, .3);
  margin-top: 0%;
}

a {
    text-decoration: none;
    color: #FF6F00;
}

footer p {
    font-size: 13px;
    color: #333;
    line-height: 2;
}
    .light {
        text-align: right;
        color: #fff;
    }
        .light a {
            color: #fff;
        }

.bg {
    width: 400px;
    height: 550px;
    background: #ff9f00;
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(69% 46% at 48% 46%);
}

.form1 {
    position: absolute;
    top: -10%;
    left: -10%;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
}

header {
    width: 220px;
    height: 220px;
    margin: 1em auto;
  }

.form1 input {
    width: 80%;
    padding: 13px 15px;
    margin: 0.7em auto;
    border-radius: 100px;
    border: none;
    background: rgb(255,255,255,0.3);
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: #fff;
}
input::placeholder {
    color: #fff;
    font-size: 13px;
}

.inputs {
    margin-top: 0em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    text-align: center;
}

footer button {
    width: 100%;
    padding: 13px 15px;
    border-radius: 100px;
    border: none;
    background: #ff9f00;
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: #fff;
}

@media screen and (max-width: 640px) {
        .app {
            width: 100%;
            height: 100vh;
            border-radius: 0;
        }

        .bg {
            top: -7em;
            width: 450px;
            height: 115vh;
        }
        header {
            width: 90%;
            height: 250px;
        }
        .inputs {
            margin: 0;
        }
        input, button {
            padding: 18px 15px;
        }
    }