.myalert {
    color: #e85d04;;
    background-color: transparent;
    display: block;
    font: bold 20px/40px sans-serif;
    height: 70px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 80px;
    width: 100%;
    animation-delay: 100s;
    -webkit-animation: alert 1s ease forwards;
    -moz-animation: alert 1s ease forwards;
    -ms-animation: alert 1s ease forwards;
    -o-animation: alert 1s ease forwards;
    animation: alert 1s ease forwards;
  }
  
  @media only screen and (max-width: 700px) {
    .myalert {
      height: 60px;
      line-height: 1;
    }
  }
  /* Animation */
  
  @-webkit-keyframes alert {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 6;
    }
  }
  @-moz-keyframes alert {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 6;
    }
  }
  @-ms-keyframes alert {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 6;
    }
  }
  @-o-keyframes alert {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 6;
    }
  }
  @keyframes alert {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 6;
    }
  }