@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
:root {
    --black: rgba(0, 0, 0, 0.54);
    --blaze-orange: rgba(255, 111, 0, 0.78);
    --crusta: rgba(249, 137, 50, 1);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: "Montserrat", Helvetica;
    width: 100vw;
}
.LandingPage{
    width: 100vw;
    overflow: hidden;
}
.mainvector{
    width: 44rem;
    float: right;
    margin-right: -5.5rem;
}
.logo{
    width: 21rem;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.links{
    margin: -13rem;
}
.login{
    color: #6a040f;
    margin-right: 3rem;
}
.signup{
    margin-left: 0rem;
    /* color: #6a040f00; */
    background-color: #6a040f;
    color: #fff;
    padding: 10px 14px;
    border-radius: 25px;
}
.content{
    width: 50%;
    flex: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 4rem;
    /* top: 11rem; */
    margin-top: 8rem;
}
.content h2{
    font-size: 3rem;
    color: #6a040f;
}
.content h1{
    font-size: 6rem;
    color: #e85d04;
    /* margin: 0 0rem; */
    padding: 2rem 0rem;
}

.content h3{
    color: grey;
    letter-spacing: 2px;
    font-size: 1rem;
    
}
.content h4{
    
    color: #6a040f;
    padding-bottom: 2rem;
}
.leaf1{
    margin-left: -3rem;
    width: 8rem;
    margin-top: 4rem;
}
.head{
    margin: 6rem 10rem;
    font-size: 4rem;
    color: #e85d04;
}
.head span{
    color: #212529;
}
.Vision h5{
    width: 35%;
    text-align: center;
    margin-left: 6.5rem;
    margin-top: -3rem;
    color: grey;
    line-height: 1.5rem;
    letter-spacing: 1px;
}
.card{
    display: flex;
    width: 250px;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    height: 250px;
    align-items: center;
    border-radius: 50px;
    justify-content: space-evenly;
    text-align: center;
    margin: 2rem;
}
.card img{
    width: 4rem;
}
.card h3{
    text-transform: uppercase;
}
.card h5{
    color: grey;
    font-size: 12px;
}
.VisionCards{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 7rem;
    margin-bottom: 5rem;
}
.aboutimage{
    width: 30rem;
}
.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}
.about-content p{
    width: 70%;
    align-items: center;
    margin: auto;
    line-height: 2rem;
    color: grey;
}
.reach .head{
    margin-left: 30rem;
}
.reach-cards .card{
    display: flex;
    width: 250px;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    height: 250px;
    align-items: center;
    border-radius: 0;
    justify-content: space-evenly;
    text-align: center;
    margin: 2rem;
    background-color: #d00000;
    margin-right: 6rem;
}
.reach-cards .card h2{
    color: #ffc107;
    font-size: 2rem;
}
.reach-cards .card h5{
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
}
.reach-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    position: relative;
}
.reach-cards .card:nth-child(2)
{
    background-color: #e85d04;
}
.reach-cards .card:nth-child(2)
{
    color: #6a040f;
}
.reach-cards .card:nth-child(3)
{
    background-color: #ffc107;
}
.reach-cards .card .red{
    color: #6a040f;
}
.leaf2{
    width: 8rem;
    position: absolute;
    transform: rotate(180deg);
    margin-left: -2rem;
    top: 143rem;
}