@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
:root {
    --black: rgba(0, 0, 0, 0.54);
    --blaze-orange: rgba(255, 111, 0, 0.78);
    --crusta: rgba(249, 137, 50, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: "Poppins";
    width: 100vw;
}
.LandingPage {
    width: 100vw;
    overflow: hidden;
}
.mainvector {
    width: 44rem;
    float: right;
    margin-right: -8.5rem;
}
.logo {
    width: 21rem;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.links {
    margin: -13rem;
    margin-top: -44%;
}
.login {
    color: #6a040f;
    margin-right: 2rem;
    margin-bottom:10px;
}
.clock{
    margin-left: -35%;
    margin-top: -12%;
}
.signup {
    margin-right: -2rem;
    /* color: #6a040f00; */
    background-color: #6a040f;
    color: #fff;
    padding: 10px 14px;
    border-radius: 25px;
}
.content {
    width: 50%;
    flex: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 4rem;
}
.content h2 {
    font-size: 3rem;
    color: #6a040f;
}
.content h1 {
    font-size: 6rem;
    color: #e85d04;
    /* margin: 0 0rem; */
    padding: 2rem 0rem;
}

.content h3 {
    color: grey;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans";
}
.content h4 {
    color: #6a040f;
    padding-bottom: 2rem;
}
.leaf1 {
    margin-left: -3rem;
    width: 8rem;
    margin-top: 4rem;
}
.head {
    margin: 6rem 10rem;
    font-size: 4rem;
    color: #e85d04;
}
.head span {
    color: #212529;
}
.Vision h5 {
    width: 35%;
    text-align: center;
    margin-left: 6.5rem;
    margin-top: -3rem;
    color: grey;
    line-height: 1.5rem;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans";
}
.card {
    display: flex;
    width: 250px;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    height: 250px;
    align-items: center;
    border-radius: 50px;
    justify-content: space-evenly;
    text-align: center;
    margin: 2rem;
}
.card img {
    width: 4rem;
}
.card h3 {
    text-transform: uppercase;
}
.card h5 {
    color: grey;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans";
}
.aboutimage {
    width: 30rem;
}
.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}
.aboutus .head {
    margin: 3rem 10rem;
}
.about-content p {
    width: 70%;
    align-items: center;
    margin: auto;
    line-height: 2rem;
    color: grey;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans";
    margin-bottom: 2rem;
}
.leaf2 {
    width: 8rem;
    position: absolute;
    transform: rotate(180deg);
    margin-left: -2rem;
    top: 143rem;
}
.logo {
    margin-left: 0;
    margin-top: 0;
}
#logo {
    max-width: 60%;
    margin-top: 0;
    margin-left: 0;
}
.social {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.social ul {
    margin: 0;
    padding: 0;
}
.social ul li {
    list-style: none;
    margin: 0 0;
}
.social ul li a {
    width: 45px;
    height: 45px;
    line-height: 50px;
    font-size: 25px;
    color: black;
    background-color: #ff6f00;
    display: block;
    text-align: center;
    position: relative;
}
.social ul li a span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 45px;
    color: white;
    background-color: #f3b360;
    font-size: 15px;
    font-weight: bold;
    z-index: -1;
    opacity: 0;
    backface-visibility: hidden;
    transition: 0.7s;
}
.social ul li:hover span {
    opacity: 1;
    backface-visibility: visible;
    left: 40px;
}

.card-body img {
    margin-top: 2rem;
    width: 4rem;
  }
  .card-body h5 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .card-body h2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .black {
    color: black;
  }
  .yellow {
    color: yellow;
  }
  .headercontent {
    font-size: 3.5rem;
    margin-left: 3%;
  }
  .headercontent span {
    color: red;
  }
  .cards2 {
    height: 50vh;
  }
  .color2 {
    background-color: #e85d04;
  }
  .color1 {
    background-color: #ffc107;
  }
  .color3 {
    background-color: #d00000;
  }
  @media only screen and (max-width: 800px) {
    .card-body h5 {
      font-size: 1.2rem;
    }
  }
  .color4 h5 {
    color: grey;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans';
    text-align: center;
    font-weight: bold;
  }
  .color4 h3,
  h5 {
    color: black;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans';
    text-align: center;
    font-weight: bold;
  }
  .color4 {
    border-radius: 50px;
    border: gray 1px solid;
    height: 50vh;
  }