
.feed-content{
    width: 60%;
    height: 30vh;
    border: 0px;
    margin: 2rem auto;
    border-radius: 3px;
    /* background-color: var(--secondary-color); */
    background-color: var(--secondary-light);
    top: 6.5rem;
    position: relative;
}