@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  box-sizing: border-box;
  text-decoration: none;
}
.border-class-1 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.landing-page-orange {
  background-color: var(--blaze-orange);
  overflow-x: hidden;
  position: relative;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
background-attachment: fixed;
display: flex;
flex-direction: column;
}
.landing-page-orange .vec{
  position: absolute;
}
.landing-page-orange .Auth{
  display: flex;
align-items: center;
width: 20vw;
justify-content: inherit;
position: relative;
right: 2vw;
}
.landing-page-orange .header{
  display: flex;
align-items: center;
justify-content: space-between;
align-self: flex-start;
top: 2vh;
position: relative;
width: 100vw;
z-index: 2;
}
.landing-page-orange .home{
  display: flex;
align-items: center;
align-self: center;
}
.landing-page-orange .explore {
  letter-spacing: 0px;
width: 134px;
border: 2px solid var(--blaze-orange);
border-radius: 20px;
z-index: 2;
position: relative;
background-color: var(--blaze-orange);
padding: 10px 20px;
top: 5vh;
align-self: center;
}
.landing-page-orange .group-7 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 390px;
  min-height: 2389px;
  padding: 409.5px 494.1px;
  position: absolute;
  top: 397px;
  transform: rotate(-24.81deg);
  width: 2417px;
}
.landing-page-orange .group-8 {
  align-items: flex-start;
  display: flex;
  height: 55px;
  position: relative;
  border: none;
  background: none;
}
.landing-page-orange .group-9 {
  align-items: flex-start;
  display: flex;
  height: 68px;
  left: 1835px;
  min-width: 201px;
  position: absolute;
  top: 1400px;
}
.landing-page-orange .image-3 {
  position: relative;
  align-self: flex-end;
}
.landing-page-orange .BigBox{
  display: flex;
align-items: center;
justify-content: space-between;
position: relative;
top: 20vh;
}
.landing-page-orange .Box{
  display: flex;
flex-direction: column;
/* height: 40vh; */
position: relative;
justify-content: center;
align-items: center;
}
.landing-page-orange .landing-page-orange {
  background-color: var(--blaze-orange);
  height: 1024px;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.landing-page-orange .overlap-group {
  height: 3183px;
  left: -1785px;
  position: absolute;
  top: -821px;
  width: 3205px;
}
.landing-page-orange .overlap-group1 {
  height: 1347px;
  margin-top: 127px;
  position: relative;
  width: 1352px;
}
.landing-page-orange .overlap-group2 {
  align-items: center;
  background-color: var(--crusta);
  border-radius: 39.5px;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 199px;
  padding: 0 49.8px;
}
.landing-page-orange .overlap-group3 {
  border-radius: 15px;
  height: 55px;
  position: relative;
  width: 129px;
}
.landing-page-orange .place {
  position: relative;
}
.landing-page-orange .rectangle-33 {
  border-radius: 15px;
  height: 55px;
  left: -108px;
  position: absolute;
  top: 0px;
  width: 110px;
}
.landing-page-orange .sign-in {
  position: relative;
}
.landing-page-orange .sign-up {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
}
.landing-page-orange .sign-up:hover{
  border: 2px solid var(--blaze-orange);
  background-color: white;
  color: var(--blaze-orange);
}
.landing-page-orange .text-1 {
  left: 2vw;
position: relative;
/* top: 30vh; */
z-index: 2;
align-self: flex-start;
width: 40vw;
}
.landing-page-orange .vector {
  align-self: center;
  height: 1px;
  margin-right: 118.24px;
  transform: rotate(24.81deg);
  width: 1px;
}
.landing-page-orange .vector-1 {
  height: 1065px;
  left: 887px;
  position: absolute;
  top: 162px;
  transform: rotate(24.81deg);
  width: 996px;
}
.landing-page-orange .vector-2 {
  height: 1052px;
  left: 870px;
  position: absolute;
  top: 161px;
  transform: rotate(24.81deg);
  width: 967px;
}
.landing-page-orange .vector-3 {
  height: 56px;
  position: relative;
  width: 269px;
  left: 2vw;
}
.landing-page-orange .vector-4 {
  position: relative;
}
.montserrat-bold-black-24px {
  color: var(--black);
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.montserrat-bold-white-24px {
  color: white;
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --black: rgba(0, 0, 0, 0.54);
  --blaze-orange: rgba(255, 111, 0, 0.78);
  --crusta: rgba(249, 137, 50, 1);
}
.landing-page-orange .sign-in:hover{
  border-bottom: 2px solid white;
  transition-delay: 0.5ms;
}
/* Responsiveness */
@media only screen and (max-width: 900px){
  .landing-page-orange .BigBox{
    flex-direction: column-reverse;
    top: 20vh;
  }
  .landing-page-orange .text-1{
    width: 50vh;
  }
}
@media only screen and (max-width: 600px){
  .landing-page-orange .header{
    flex-direction: column;
  }
  .landing-page-orange .BigBox{
    top: 30vh;
  }
  .landing-page-orange .vec{
    visibility: hidden;
  }
  .landing-page-orange .Auth{
    width: 80vw;
    top: 3vh;
  }
  .landing-page-orange .home{
    top: 2vh;
    position: relative;
  }
}