@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
:root {
  --black: rgba(0, 0, 0, 0.54);
  --blaze-orange: rgba(255, 111, 0, 0.78);
  --crusta: rgba(249, 137, 50, 1);
}
* {
  box-sizing: border-box;
}
.border-class-1 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.landing-page-orange {
  align-items: flex-start;
  display: flex;
  width: 100vw;
  height: 100vh;
 
}
.landing-page-orange .explore {
  letter-spacing: 0px;
  width: 98px;
}
.landing-page-orange .group-7 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 390px;
  min-height: 2389px;
  padding: 409.5px 494.1px;
  position: absolute;
  top: 397px;
  transform: rotate(-24.81deg);
  width: 2417px;
}
.landing-page-orange .group-8 {
  align-items: flex-start;
  display: flex;
  height: 55px;
  left: 1357px;
  min-width: 131px;
  position: absolute;
  top: 31px;
  padding: 0;
  border: none;
  background: none;
}
.landing-page-orange .group-9 {
  align-items: flex-start;
  display: flex;
  height: 68px;
  left: 1835px;
  min-width: 201px;
  position: absolute;
  top: 1400px;
}
.landing-page-orange .image-3 {
  height: 434px;
  left: 2589px;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 616px;
}
.landing-page-orange .landing-page-orange {
  background-color: var(--blaze-orange);
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.landing-page-orange .overlap-group {
  height: 3183px;
  left: -1785px;
  position: absolute;
  top: -821px;
  width: 3205px;
}
.landing-page-orange .overlap-group1 {
  height: 1347px;
  margin-top: 127px;
  position: relative;
  width: 1352px;
}
.landing-page-orange .overlap-group2 {
  align-items: center;
  background-color: var(--crusta);
  border-radius: 39.5px;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 199px;
  padding: 0 49.8px;
}
.landing-page-orange .overlap-group3 {
  border-radius: 15px;
  height: 55px;
  position: relative;
  width: 129px;
}
.landing-page-orange .place {
  left: 2533px;
  letter-spacing: 0px;
  position: absolute;
  top: 865px;
}
.landing-page-orange .rectangle-33 {
  border-radius: 15px;
  height: 55px;
  left: -108px;
  position: absolute;
  top: 0px;
  width: 110px;
}
.landing-page-orange .aboutus {
  left: 1000px;
  letter-spacing: 0px;
  position: absolute;
  top: 44px;
  padding: 0;
  border: none;
  background: none;
  z-index: +40;
}
.landing-page-orange .sign-in {
  left: 1141px;
  letter-spacing: 0px;
  position: absolute;
  top: 44px;
  padding: 0;
  border: none;
  background: none;
}
.landing-page-orange .sign-up {
  left: -87px;
  letter-spacing: 0px;
  position: absolute;
  top: 15px;
  width: 100px;
  margin-left: -14px;
}
.landing-page-orange .text-1 {
  left: 1834px;
  letter-spacing: 0px;
  position: absolute;
  top: 1181px;
  width: 642px;
}
.landing-page-orange .vector {
  align-self: center;
  height: 1px;
  margin-right: 118.24px;
  transform: rotate(24.81deg);
  width: 1px;
}
.landing-page-orange .vector-1 {
  height: 1065px;
  left: 887px;
  position: absolute;
  top: 162px;
  transform: rotate(24.81deg);
  width: 996px;
}
.landing-page-orange .vector-2 {
  height: 1052px;
  left: 870px;
  position: absolute;
  top: 161px;
  transform: rotate(24.81deg);
  width: 967px;
}
.landing-page-orange .vector-3 {
  height: 56px;
  left: 1835px;
  position: absolute;
  top: 848px;
  width: 269px;
}
.landing-page-orange .vector-4 {
  height: 21px;
  left: 2501px;
  position: absolute;
  top: 866px;
  width: 23px;
}
.montserrat-bold-black-24px {
  color: var(--black);
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.montserrat-bold-white-24px {
  color: white;
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.landing-page-orange .aboutus {
  left: 860px; 
  transition: 0.2s ease-in;
  color: #2f2e41;;
}
.landing-page-orange .aboutus:hover{
  color: white;
}
.landing-page-orange .sign-in {
  left: 1003px;
  color: #2f2e41;
  transition: 0.2s ease-in;
}
.landing-page-orange .sign-up {
  top: 3px;
  left: -221px;
  color: #2f2e41;
  transition: 0.2s ease-in;
  border: 1px solid #2f2e41;
  padding: 9px 17px;
  width: 138px;
  border-radius: 22px;
}
.landing-page-orange .navbar :hover{
  color: #fffeb2;
  border: 1px solid #fffeb2;
}
.navbar:hover{
  color: white;
}
.landing-page-orange .overlap-group2 span{
  transition: .2s ease;
}
.landing-page-orange .overlap-group2 span:hover{
  color: #2f2e41;
}
.title-text30::after{
  content: '';
    width: 1360px;
    height: 583px;
    background: linear-gradient( #ff6f00,#f3b360);
    position: absolute;
    top: 753px;
    left: -8px;
    z-index: +40;
    border-bottom-right-radius: 378px;
}
.title-text31::after{
  content: '';
  width: 1527px;
  height: 612px;
  background: #ffba60;
  position: absolute;
  top: 753px;
  left: -8px;
  z-index: +39;
  border-bottom-right-radius: 463px;
}
.title-text32::after{
  content: '';
    width: 542px;
    height: 85px;
    background: #fffeb2;
    position: absolute;
    top: 770px;
    left: 370px;
    z-index: +42;
    border-bottom-right-radius: 37px;
    border-top-left-radius: 37px;
 
}
.title-text33::after{
  content: '';
    width: 540px;
    height: 91px;
    background: #474705;
    position: absolute;
    top: 786px;
    left: 387px;
    z-index: +41;
    border-bottom-right-radius: 56px;
    border-top-left-radius: 37px;
}
.title-text34 {
  font-size: 43px;
    left: 400px;
    position: absolute;
    top: 791px;
    width: 499px;
    font-family: 'Montserrat';
    color: rgb(37, 1, 1);
    font-weight: bold;
    z-index: +43;
}
.dot {
  height: 25px;
  width: 25px;
  background: radial-gradient(white, black);
  border-radius: 50%;
  display: inline-block;
  z-index: +45;
  left: 30px;
    position: absolute;
    }
.contributor{
  font-size: 24px;
    left: 80px;
    position: absolute;
    width: 444px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: +45;
}
#dot1 {top: 910px;}
#dot2 {top: 950px;}
#dot3 {top: 990px;}
#dot4 {top: 1030px;}
#dot5 {top: 1070px;}
#dot6 {top: 1110px;}
#dot7 {top: 1150px;}
#dot8 {top: 1190px;}
#dot9 {top: 1230px;}
#dot10 {top: 1270px;}

#name1 {top: 910px;}
#name2 {top: 950px;}
#name3 {top: 990px;}
#name4 {top: 1030px;}
#name5 {top: 1070px;}
#name6 {top: 1110px;}
#name7 {top: 1150px;}
#name8 {top: 1190px;}
#name9 {top: 1230px;}
#name10 {top: 1270px;}

.social{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.social ul{
  margin: 0;
  padding: 0;
}
.social ul li{
  list-style: none;
  margin: 0 0;
}
.social ul li a{
  width: 45px;
  height: 45px;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  background-color: #ff6f00;
  display: block;
  text-align: center;
  position: relative;
}
.social ul li a span{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 45px;
  color: white;
  background-color: #f3b360;
  font-size: 15px;
  font-weight: bold;
  z-index: -1;
  opacity: 0;
  backface-visibility: hidden;
  transition: 0.7s;
}
.social ul li:hover span{
  opacity: 1;
  backface-visibility: visible;
  left: 40px;
}
.landing-page-orange .text-1{
  top: 1100px;
}
.landing-page-orange .group-9 {

  top: 1300px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  left: -60px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2e41;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: var(--crusta);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
#switchtoggle{
  left: 2400px;
    top: 865px;
    letter-spacing: 0px;
    position: absolute;
    
}
.dark-mode{
  filter: invert(1) hue-rotate(180deg);
}
.dark-mode .text-1{
  color: black;
}
.dark-mode input:checked + .slider  {
  background-color: black;
}
.darkorlight{
  left: 0px;
  top: 0px;
  position: absolute;
}