@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
:root {
    --black: rgba(0, 0, 0, 0.54);
    --blaze-orange: rgba(255, 111, 0, 0.78);
    --crusta: rgba(249, 137, 50, 1);
    --theme : rgb(254 116 4);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--theme);
  width: 100vw;
  font-family: "Montserrat", Helvetica;
}
.landingPage{
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.landingPage .vector-2{
  position: absolute;
  right: 25rem;
  z-index: 1;
}
#Kurakoo-logo{
  height: 56px;
  z-index: 2;
  margin-left: 40px;
  margin-top: 20px;
}

.social{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
.social ul{
  margin: 0;
  padding: 0;
}
.social ul li{
  list-style: none;
  margin: 0 0;
}
.social ul li a{
  width: 45px;
  height: 45px;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  background-color: #ff6f00;
  display: block;
  text-align: center;
  position: relative;
}
.social ul li a span{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 45px;
  color: white;
  background-color: #f3b360;
  font-size: 15px;
  font-weight: bold;
  z-index: -1;
  opacity: 0;
  backface-visibility: hidden;
  transition: 0.7s;
}
.social ul li:hover span{
  opacity: 1;
  backface-visibility: visible;
  left: 40px;
}
.Navbar{
  width: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Navbar .right a{
  text-decoration: none;
  color: #2f2e41;
  font-size: 24px;
  font-weight: bold;
  margin: 1.5rem;
  margin-top: 2rem;
  transition: .2s;
}

.Navbar .right a:hover{
  color:#fff;
}
.Navbar .right{
  margin-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signUp{
  border: 1px solid #2f2e41;
  border-radius: 25px;
  padding: 10px 20px;
}
.signUp:hover{
  border: 1px solid #fff;
}
.Navbar .right .active{
  color:#fff;
  text-decoration: underline;
  line-height: 1;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2e41;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: var(--crusta);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--crusta);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2e41;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: var(--crusta);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(21px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode{
  filter: invert(1) hue-rotate(180deg);
}
.dark-mode .text-1{
  color: black;
}
.dark-mode input:checked + .slider  {
  background-color: black;
}
.darkorlight{
  left: 0px;
  top: 0px;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 5px;
  margin-right: 1rem;
}
.image-3{
  position: absolute;
  top: 12rem;
  right: -5rem;
}
.main-content{
  position: absolute;
  z-index: 10;
  bottom: 13rem;
  left: 4rem;
  width: 40%;
  font-size: 23px;
  color: rgb(0 0 0 / 54%);
}
.explore{
  position: absolute;
    top: 30rem;
    /* float: left; */
    right: 70rem;
    z-index: 4;
    padding: 1rem 2.5rem;
    background-color: var(--crusta);
    font-weight: bold;
    font-size: 25px;
    border-radius: 42px;
    border: 0;
    color: #fff;
    transition: .2s ;
    cursor: pointer;
}
.explore:hover{
  color: #2f2e41;
}